
<ul class="breadcrumb">
  <li><a href="#">Apps</a></li>
  <li><b>Calculadora de Notas Equivalentes</b></li>
</ul>

<div class="container">
  <div class="card">
    <div class="card-header">
      <b>Calculadora de Notas Equivalentes</b>
    </div>
  
    <div class="card-body">
      <div class="row f-row">
        <div class="col-md-2">Valor da prova 1:</div>
        <div class="col-md-2"><input type="number" [(ngModel)]="total_p1" step="0.5" min="0" max="10"></div>
  
        <div class="col-md-2">Valor da prova 2:</div>
        <div class="col-md-2"><input type="number" [(ngModel)]="total_p2" step="0.5" min="0" max="10"></div>
      </div>
  
      <div class="row">
        <div class="col-md-2">Nota da prova 1:</div>
        <div class="col-md-2"><input type="number" [(ngModel)]="nota_p1" step="0.5" min="0" max="10"></div>
  
        <div class="col-md-2"><b>Nota da prova 2:</b></div>
        <div class="col-md-2">
          <h2><span *ngIf="total_p1 >= 0 && total_p2 >= 0 && nota_p1 >= 0">{{(total_p2 * nota_p1) / total_p1 | number:'1.2-2'}}</span>&nbsp;</h2>
        </div>
      </div>
  
    </div>
  </div>
</div>
<br>
<br>
