
<ul class="breadcrumb">
  <li><a href="#">Apps</a></li>
  <li><b>Calculadora de Valor por Questão</b></li>
</ul>

<div class="container">
  <div class="card">
    <div class="card-header">
      <b>Calculadora de Valor por Questão</b>
    </div>

    <div class="card-body">
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-3">Valor Total da Questão:</div>
        <div class="col-md-2"><input type="number" [(ngModel)]="total_questao" step="0.1" min="0" max="10"></div>

        <div class="col-md-3">Quantidade de Alternativas:</div>
        <div class="col-md-2"><input type="number" [(ngModel)]="qtd_alternativas" step="1"></div>
      </div>

      <div class="row">
        <div class="col-md-3">Quantidade alternativas certas:</div>
        <div class="col-md-2"><input type="number" [(ngModel)]="qtd_alternativas_certas" step="1" [max]="qtd_alternativas"></div>

        <div class="col-md-3"><b>Nota da prova 2:</b></div>
        <div class="col-md-2">
          <h2><span *ngIf="total_questao >= 0 && qtd_alternativas >= 0 && qtd_alternativas_certas >= 0">
              {{(total_questao / qtd_alternativas) * qtd_alternativas_certas | number:'1.2-2'}}
          </span>&nbsp;</h2>
        </div>
      </div>

    </div>
  </div>
</div>
<br>
<br>